@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

main {
    font-family: "Oswald", sans-serif;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ), url("/static/img/musica/fondo-concierto.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    text-align: center;
}


.contenedor{
    /* border: 2px solid green; */
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 900px;
    max-width: 50%;
}

#texto-inicial {
    font-size: 21px;
}

h1{
    font-size: 50px;
    margin-bottom: 20px;
}

h2{
    font-size: 27px;
    color:white;
}

p {
    font-size: 17px;
    max-width: 400px;
    margin: auto;
}

button {
    margin:13px;
    font-size: 1.5em;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 15px;
    border: 1px solid rgb(114, 114, 114);
    color: white;
    background-color: blueviolet;
    cursor:pointer;
}

button:hover {
    background-color: #6e32a7;
}

.eventos{
    background-position: center center;
    background-size: cover;
    padding: 30px 50px;
    border-radius: 15px;
    margin:12px;
}

.eventos{
    background-image: url("/static/img/musica/imagen-eventos.avif");
}

#texto-inicial {
    font-size: 23px;
    margin-bottom: 40px;
}

.eventos {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    padding: 20px;
    margin: 30px;
    row-gap: 15px;
}

#boton_mas_info {
    padding: 10px; 
    background-color: #e74c3c;
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#boton_mas_info:hover {
    transform: scale(1.01);
    background-color: #fc5542;
}

@media (max-width:820px) {

    .pagina {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    
    #texto-inicial {
        font-size: 23px;
        margin-bottom: 40px;
    }
    
    .eventos p {
        display: none;
    }
    
    .eventos {
        padding: 20px;
    }
    .contenedor{
        grid-template-columns: 80%;
    }
}