{% if es_admin %}
    {% extends "admin-base.html" %}
{% elif sesion_iniciada %}
    {% extends "usuarios-base.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<div id="categorias">
    <a href="{{url_for('Futbol')}}" class="categoria"><img src="{{ url_for('static', filename='img/cat_futbol.png') }}" alt="Futbol" class="cat_logo"><h3>futbol</h3></a>
    <a href="{{url_for('conciertos')}}" class="categoria"><img src="{{ url_for('static', filename='img/cat_conciertos.png') }}" alt="Conciertos" class="cat_logo"><h3>conciertos</h3></a>
    <a href="{{url_for('fiestas')}}" class="categoria"><img src="{{ url_for('static', filename='img/cat_fiestas.png') }}" alt="Fiestas" class="cat_logo"><h3>Fiestas</h3></a>
    <a href="{{url_for('Teatro')}}" class="categoria"><img src="{{ url_for('static', filename='img/cat_teatro.png') }}" alt="Teatro" class="cat_logo"><h3>Teatro</h3></a>
    <a href="{{url_for('cultura_jp')}}" class="categoria"><img src="{{ url_for('static', filename='img/jp.png') }}" alt="JP" class="cat_logo"><h3>Cultura japonesa</h3></a>
    <a href="{{url_for('esports')}}" class="categoria"><img src="{{ url_for('static', filename='img/cat_esport.png') }}" alt="Logo" class="cat_logo"><h3>E-sports</h3></a>
    <a href="{{url_for('Stand_up')}}" class="categoria"><img src="{{ url_for('static', filename='img/stand_up_icon.png') }}" alt="Logo" class="cat_logo"><h3>Stand-Up</h3></a>
</div>


<h2 id="texto">Nuestras recomendaciones</h2>
<div id="recomendaciones">
    {%for evento in eventos %}
    <div class="recom">
        <div class = "eventos" style="background-image:url('{{ evento.imagen_url }}'); background-size: cover; background-position: center;">
            <h2>{{evento.nombre_evento}}</h2>
            <p>{{evento.descripcion}}</p>
            <a id="boton_mas_info" href="{{url_for('Descripcion_evento', id_evento=evento.id_evento)}}">Más Información</a>
        </div>
    </div>
    {% endfor %}  
</div>

{% endblock %}
