{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

{% with messages = get_flashed_messages(category_filter=["login_incorrecto"]) %}
    {% if messages %}
        <div class="flash-messages">
            {% for message in messages %}
                <p class="alert">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<div class="contenedor-login">
    <h2>Iniciar sesión</h2>
    <form method="POST" action="/login"> <!-- ! agrego el metodo POST para que se envie la informacion -->
        <label for="nombre">Usuario</label>
        <input type="text" id="nombre" name="nombre" required> <!-- debe coincidir name= "nombre" en el archivo app.py -->

        <label for="password">Contraseña</label>
        <div class="contenedor-contraseña">
            <input type="password" id="password" name="password" required><!--de igual forma con password -->
            <button type="button" onclick="togglePassword()">👁️</button>
        </div>

        <button type="submit">Iniciar sesión</button>
    </form>
</div>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}


