{% if es_admin %}
    {% extends "admin-base.html" %}
{% elif sesion_iniciada %}
    {% extends "usuarios-base.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}


{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='/css/Descripcion_evento.css') }}">

<div id="contenedor-principal">
    <dev id="banner">
        <img src="{{ url_for('static', filename='/img/musica/camilo-concierto.jpeg') }}" alt="foto" id="imagen-arriba">
    </dev>
    <div id="contenedor-secundario">
        <div id="parte-izquierda">
            <div class="texto-izquierda">
                <h1>CAMILO</h1>
                <h2>Fecha y hora:</h2><p>sáb, 9 nov 2024 21:00 GMT-3</p>
                <h2>Descripcion</h2><p>El evento dura 2 horas 30 minutos</p>
                <h2>Cupos</h2><p>Totales: 20</p><p>Disponibles: 7</p>
                <a id="enlace" href="{{ url_for('Pago') }}">Comprar Entrada</a>
            </div>
        </div>
        <div id="parte-derecha">
            <div class="texto-derecha">
                <h3>Localizacion:</h3><p>Movistar Arena</p>
            </div>
            <aside class="event-map">
                <iframe 
                    src="https://maps.google.com/maps?q=Movistar+Arena,+Humboldt+450,+Buenos+Aires&hl=es&t=&z=17&ie=UTF8&iwloc=&output=embed" 
                    frameborder="0" 
                    allowfullscreen 
                    title="Mapa del Movistar Arena">
                </iframe>
            </aside>
        </div>
    </div>
</div>

{% endblock %}


