{% if es_admin %}
    {% extends "admin-base.html" %}
{% elif sesion_iniciada %}
    {% extends "usuarios-base.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block content %}

<div class="container">
    <h2>Pago Seguro</h2>
    <form method="POST" action="{{ url_for('Pago') }}" id="paymentForm">
        <div class="input-group">
            <label for="nombre">Nombre de Usuario</label>
            <input type="text" id="nombre" name="nombre" value="{{ nombre_usuario }}" readonly>
        </div>
        <div class="input-group">
            <label for="id_evento">ID del Evento: </label>
            <input type="text" id="id_evento" name="id_evento" value="{{ id_evento_deseado }}" readonly>
        </div>
        <div class="input-group">
            <label for="cant_tickets">Cantidad Tickets</label>
            <input type="text" id="cant_tickets" name="cant_tickets" min="1" required>
        </div>
        <div class="input-group">
            <label for="cardNumber">Número de Tarjeta</label>
            <input type="text" id="cardNumber" name="cardNumber" required>
        </div>
        <div class="input-group">
            <label for="cardName">Nombre en la Tarjeta</label>
            <input type="text" id="cardName" name="cardName" required>
        </div>
        <div class="input-group">
            <label for="expiryDate">Fecha de Vencimiento</label>
            <input type="text" id="expiryDate" name="expiryDate" required>
        </div>
        <div class="input-group">
            <label for="cvv">CVV</label>
            <input type="text" id="cvv" name="cvv" required>
        </div>
        <button type="submit" class="boton-reservar">Pagar Ahora</button>
    </form>
</div>

<script src="{{ url_for('static', filename='js/pago.js') }}"></script>

{% endblock %}